@{
    ViewData["Title"] = "Add Page";
}

<div class="container">
    <div class="row bg-dark">
        <div class="col-sm">
            <table class = "table table-dark" style="height:100%;">
                <tr class = "table-row">
                    <th>Name</th>
                    <th>Length(m)</th>
                    <th>Width(m)</th>
                    <th>Code</th>
                    <th>
                        <a href="/add" class="add"><i class="bi bi-plus-circle-fill"></i></a>
                    </th>
                </tr>
                @foreach (var ship in Model)
                {
                    <tr class = "table-row clickable-row">
                        <td>@ship.Name</td>
                        <td>@ship.Length</td> 
                        <td>@ship.Width</td> 
                        <td>@ship.Code</td>
                        <td>
                            <a href="/edit/@ship.Code" class="edit"><i class="bi bi-pencil-square"></i></a>
                            <a href="/delete/@ship.Code"><i class="bi bi-trash-fill"></i></a>
                        </td>  
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
